@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Caprasimo', sans-serif;
  font-weight: 400;

}

.slick-slide > div {
  margin: 0 10px;
  border: 0px;
}
